%table.table
  %thead
    %tr
      %th Curso
      %th Descripción
      %th Fecha de inicio
  %tbody
    - @enrollments.each do |enrollment|
      %tr
        %td=enrollment.programed_course.course.name
        %td=enrollment.programed_course.details
        %td=enrollment.programed_course.start_date