%h2 People registered

%table.table
  %thead
    %tr
      %th Full Name
      %th
      %th
      %th
  
  %tbody
    - @person.each do |person|
      %tr
        %td=link_to person.full_name, person

%br

=link_to 'New Person', new_person_path, class: "btn btn-default"


