%h2 Alumnos registrados

%table.table
  %thead
    %tr
      %th Nombre
      %th Cursos Inscritos
  
  %tbody
    - @person.each do |person|
      %tr
        %td=link_to person.full_name, person
        %td=Enrollment.where(student: person).count

%br

=link_to 'Nueva persona', new_person_path, class: "btn btn-default"


