%h1 Editar curso programado

= render 'form'

= link_to 'Mostrar', @programed_course, class: "btn btn-default"
\|
= link_to 'Atras', course_programed_courses_path(@programed_course.course_id) , class: "btn btn-default"
