%h1 Editing programed_course_session

= render 'form'

= link_to 'Show', @programed_course_session, class: "btn btn-default" 
\|
= link_to 'Back', programed_course_programed_course_sessions_path(@programed_course_session.programed_course_id), class: "btn btn-default" 
