%h1 Editar Sesión

= render 'form'

= link_to 'Mostrar', @programed_course_session, class: "btn btn-default" 
\|
= link_to 'Atras', programed_course_programed_course_sessions_path(@programed_course_session.programed_course_id), class: "btn btn-default" 
